<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="d" class="com.yu.mar064sdi.Dog">
		<constructor-arg value="뽀삐"></constructor-arg>
		<constructor-arg value="1"></constructor-arg>
	</bean>
	<bean id="d2" class="com.yu.mar064sdi.Dog">
		<property name="name" value="뿌삐"></property>
		<property name="age" value="2"></property>
	</bean>
</beans>
