@charset "UTF-8";

::-webkit-scrollbar {
	display: none; /* 이렇게 스크롤 바 없애는 게 가능 */
}

/* @font-face {
	font-family: "b";
	src: url("bread.ttf");
}

@font-face {
	font-family: "c";
	src: url("clock.ttf");
} */
body {
	margin: 0px;
	padding: 0px;
	background-image: url("../img/back.jpg"); /* 경로기준은 현재 이 css파일 */
	background-attachment: fixed; /* 배경이 스크롤해도 안 움직이게 */
	background-repeat: no-repeat; /* 바둑판형태 아니게 */
	background-position: center;
	background-size: cover; /* 꽉 차게 */
}

table {
	border-spacing: 0px;
}

a {
	text-decoration: none;
}

input, button, select, textarea {
	outline: none;
}

button {
	cursor: pointer;
}

textarea {
	resize: none;
}

#siteTitleArea {
	position: fixed;
	top: -60px;
	width: 100%;
	background-color: #263238AA;
	transition: all 0.5s ease-out;
}

#siteMenuArea {
	width: 1200px;
	height: 50px;
}

#siteTitleArea2 {
	width: 1200px;
	height: 80px;
}

#siteTitleArea2 a {
	font-size: 27pt;
	color: white;
	text-shadow: 3px 3px 3px black;
}

#siteContentArea {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-top: 170px;
}

#homeImg {
	border-radius: 30px;
	opacity: 0.7;
}

#fairy {
	position: fixed;
	width: 200px;
	top: 380px;
	right: 30px;
	z-index: 99;
}

#result {
	position: fixed;
	top: 520px;
	right: 40px;
	z-index: 100;
	font-size: 17pt;
	font-weight: 900;
	color: white; /* 글자 컬러 */
}

#snsPaddingBottom {
	width: 10px;
	height: 250px;
}